@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Graphik";
  src: url("https://assets.website-files.com/60300fc89b79e83d746ea188/60300fc89b79e8b1f56ea316_Graphik-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
/* CSS Global Styles */

:root {
  --primary: #00df9a;
  --secondary: #11171c;
  --third: #fff;
  --alt: #147758;

  --lightGrey: #cacaca;
  --midGrey: #555555;
  --darkGrey: #202123;
  --font-primary: "Graphik", sans-serif;
  --font-secondary: "Inter", Helvetica, monospace, serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 7px;
}
::selection {
  background: rgba(123, 144, 133, 0.6);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
}

body {
  margin: 0;
  font-family: var(--font-secondary), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(
    to right,
    #11191c,
    #111516,
    #040404
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11191c,
    #111516,
    #040404
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  color: #484848;
  width: 90%;
  margin: 0 auto;
  height: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: whitesmoke;
  line-height: auto;
}
h1 {
  font-size: 38px;
}
h2,
h3,
h4,
h5 {
  font-size: 30px;
}
p {
  font-family: var(--font-secondary);
  font-size: 12px;
  font-weight: 400;
  color: #ffffff !important;
}
.title {
  font-family: var(--font-primary);
}
.subtitle {
  color: #8a8f98;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
}
.tagline {
  color: var(--primary);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}
.column-title {
  font-size: 12px;
}
/* Page */

.about {
  margin: 20vh 0;
  font-family: var(--font-primary);
  color: var(--primary);
}

/* Page */

.navbar {
  position: absolute;
  top: 0;
  height: 50px;
  z-index: 5;
  width: 100vw;
  margin: 10px 10px 0 50px;
}

/* Hero */

/* Hero */

.hero {
  min-height: 75vh;
  overflow: hidden !important;
}
.hero-overlay {
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 90%);
}
.hero-img-container {
  overflow: hidden;
  width: 100vw;
  height: 75vh;
  position: absolute;
  padding: 0;
  right: 0;
  background: #000;
  clip-path: polygon(0% 83%, 100% 95%, 100% 0%, 0% 0%);
}
.hero-copy {
  top: 150px;
  position: absolute;
  left: 50px;
  width: 50vw;
}
.hero-earth-container {
  margin: 0 auto;
  cursor: grab;
}
.hero-earth {
  position: absolute;
  height: 90vh;
  top: 0;
  right: 100px;
  overflow: hidden !important;
}
.about-hero {
  min-height: 120vh;
  overflow: hidden !important;
}
.about-hero-copy {
  top: 150px;
  position: absolute;
  left: 50px;
  width: 50vw;
  z-index: 2;
}

.about-hero-overlay {
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 90%);
}
.about-hero-img-container {
  overflow: hidden;
  width: 100vw;
  height: 120vh;
  position: absolute;
  padding: 0;
  right: 0;
  background: #000;

  /* clip-path: polygon(0% 83%, 100% 95%, 100% 0%, 0% 0%); */
}
.about-hero-img {
  display: block;
  width: 50vw;
  height: 70vh;
  /* mix-blend-mode: multiply; */
  background-image: url("./components/assets/spinner.gif");
  background-position: 100% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  opacity: 0.05;
}
.section {
  padding: 50px 0;
}
.blob-section {
  position: absolute;
  height: 90vh;
  top: 0;
  right: 3%;
  overflow: hidden !important;
  z-index: 0;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--borderRadius);
  padding: 10px 5px;
  margin: 10px auto;
  width: 100%;
  max-width: 750px;
  overflow: hidden;
  transition: all 0.2s ease;
  border-left: solid 2px transparent;
}
.card:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--primary);
  border-left: solid 2px var(--primary);
}
.card-data {
  display: inline-flex;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 11px;
  font-family: var(--font-primary);
  line-height: 1;
  text-align: left;
  margin: 10px;
}

/* Table Items */

.sort-arrow {
  margin-top: 5px;
  justify-content: center;
  position: relative;
  color: var(--primary);
  opacity: 0.8;
}
.action-widget {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  font-size: 11px;
  color: whitesmoke;
  opacity: 0.5;
  border-radius: var(--borderRadius);
  background-color: var(--secondary);
}
.filter-widget {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: whitesmoke;
  border-radius: var(--borderRadius);
  background: var(--primary);
}

#search-div {
  ---backlight: 0 0 0 2px var(--colors-plumA3),
    -15px 0 30px -15px var(--colors-orangeA8),
    0 0 30px -15px var(--colors-pinkA8),
    15px 0 30px -15px var(--colors-violetA8);
  color: var(--colors-hiContrast);
  background-color: hsl(0 0% 6%);
  box-shadow: var(---backlight);
}
.contract-list {
  font-size: 11px;
  text-align: left;
}
/* Slider Style */
.slider {
  width: 100%;
}

input[type="range"] {
  max-width: 500px;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: black;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(290deg, var(--primary), var(--alt));
  border: whitesmoke 1px solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.04);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(290deg, var(--primary), var(--alt));
  border: whitesmoke 1px solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.range-slider input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.04);
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

/* Table Styles */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: whitesmoke;
  width: 2em;
  height: 2em;
  border: 0.1em solid whitesmoke;
  border-radius: var(--borderRadius);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin: 0 15px;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: transparent;
  color: whitesmoke;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--primary);
  color: #000;
}

input[type="checkbox"]:focus {
  outline-offset: max(2px, 0.15em);
}

.table-container {
  border-radius: var(--borderRadius);
  padding: 15px 0;
  margin: 0 auto;
}
.table-data {
  font-size: 11px;
  line-height: 1;
  display: block;
}
table {
  font-family: var(--font-secondary);
  box-shadow: 5px 5px 10px 0px #1b1b1b33;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

table tr th {
  font-size: 12px;
  text-align: left;
  opacity: 0.6;
}

table tr td {
  font-size: 12px;
}
td p {
  margin: 0 10px;
}
table td,
table th {
  padding: 8px;
  text-align: left;
}
table th {
  border: none;
  transition: all 0.3s ease;
  border-radius: var(--borderRadius);
}
table th:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
table tr {
  transition: all 0.3s ease;
  border-left: solid 2px rgba(0, 0, 0, 0);
}
table tr:hover {
  border-left: solid 2px var(--primary);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
}
.date {
  white-space: nowrap;
  display: block;
}

/* Badge */

.badge {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  max-width: 200px;
  max-height: 15px;
  border-radius: 50px;
  font-size: 90%;
  background-color: var(--secondary);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
.badge-primary {
  background-color: var(--primary);
}
.badge:hover {
  background-color: var(--primary);
  color: var(--third);
  opacity: 0.9;
}
.badge-subs {
  font-size: 11px;
  color: black;
  width: 150px;
}

/* Button */

.btn {
  background: var(--primary);
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
  font-family: var(--font-primary);
  margin: 20px 0;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--borderRadius);
  border: none;
  width: 100%;
  max-width: 200px;
  transition: all 0.1s ease-in-out;
}
.btn-simple {
  font-family: var(--font-primary);
  background: transparent;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 0.7rem;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  transform: scale(0.95);
  color: black;
  outline: none;
  box-shadow: 10px 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}
.btn:active {
  transform: scale(0.99);
}
.btn-sub {
  line-height: 25px;
}

.btn-sub::after {
  content: " ";
}

/* Img */
#logo {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  transition: all 0.1s ease-in-out;
}
#logo:hover {
  transform: scale(1.05);
}
#logo:active {
  transform: scale(0.99);
}
.logo-mask {
  width: 50px;
  height: 50px;
  justify-content: center;
  border-radius: var(--borderRadius);
  bottom: 0;
  margin: 0 10px;
}
.logo-img {
  border-radius: var(--borderRadius);
  margin: 3px;
  width: 40px;
  height: auto;
  left: 0;
  background-color: #11171c;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-raised {
  margin: 0 0 -10rem 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  -o-transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.img-raised:hover {
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.05, 1.05);
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-in;
}

.icon {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.icon:hover {
  color: var(--primary);
}

/* Layout */

.row {
  display: inline-flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.col {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

.col-auto {
  width: auto;
  max-width: none;
  flex: 0 0 auto;
}

.col-1 {
  max-width: 8.33333%;

  flex: 0 0 8.33333%;
}

.col-2 {
  max-width: 16.66667%;

  flex: 0 0 16.66667%;
}

.col-3 {
  max-width: 25%;

  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.33333%;

  flex: 0 0 33.33333%;
}

.col-5 {
  max-width: 41.66667%;

  flex: 0 0 41.66667%;
}

.col-6 {
  max-width: 50%;

  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.33333%;

  flex: 0 0 58.33333%;
}

.col-8 {
  max-width: 66.66667%;

  flex: 0 0 66.66667%;
}

.col-9 {
  max-width: 75%;

  flex: 0 0 75%;
}

.col-10 {
  max-width: 83.33333%;

  flex: 0 0 83.33333%;
}

.col-11 {
  max-width: 91.66667%;

  flex: 0 0 91.66667%;
}

.col-12 {
  max-width: 100%;

  flex: 0 0 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }

  .d-sm-none {
    display: none !important;
  }

  .col-sm {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-sm-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
  }

  .col-sm-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .col-sm-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .col-sm-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .col-sm-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .col-sm-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .col-sm-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .col-sm-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .col-sm-8 {
    max-width: 66.66667%;

    flex: 0 0 66.66667%;
  }

  .col-sm-9 {
    max-width: 75%;

    flex: 0 0 75%;
  }

  .col-sm-10 {
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
  }

  .col-sm-11 {
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
  }

  .col-sm-12 {
    max-width: 100%;

    flex: 0 0 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
    -webkit-order: 0;
  }

  .order-sm-1 {
    order: 1;
    -webkit-order: -1;
  }

  .order-sm-2 {
    order: 2;
    -webkit-order: 2;
  }

  .order-sm-3 {
    order: 3;
    -webkit-order: 3;
  }

  .order-sm-4 {
    order: 4;
    -webkit-order: 4;
  }

  .order-sm-5 {
    order: 5;
    -webkit-order: 5;
  }

  .order-sm-6 {
    order: 6;
    -webkit-order: 6;
  }

  .order-sm-7 {
    order: 7;
    -webkit-order: 7;
  }

  .order-sm-8 {
    order: 8;
    -webkit-order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }

  .col-md {
    max-width: 100%;

    flex-basis: 0;
    flex-grow: 1;
  }

  .col-md-auto {
    width: auto;
    max-width: none;

    flex: 0 0 auto;
  }

  .col-md-1 {
    max-width: 8.33333%;

    flex: 0 0 8.33333%;
  }

  .col-md-2 {
    max-width: 16.66667%;

    flex: 0 0 16.66667%;
  }

  .col-md-3 {
    max-width: 25%;

    flex: 0 0 25%;
  }

  .col-md-4 {
    max-width: 33.33333%;

    flex: 0 0 33.33333%;
  }

  .col-md-5 {
    max-width: 41.66667%;

    flex: 0 0 41.66667%;
  }

  .col-md-6 {
    max-width: 50%;

    flex: 0 0 50%;
  }

  .col-md-7 {
    max-width: 58.33333%;

    flex: 0 0 58.33333%;
  }

  .col-md-8 {
    max-width: 66.66667%;

    flex: 0 0 66.66667%;
  }

  .col-md-9 {
    max-width: 75%;

    flex: 0 0 75%;
  }

  .col-md-10 {
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
  }

  .col-md-11 {
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
  }

  .col-md-12 {
    max-width: 100%;

    flex: 0 0 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }

  .d-lg-none {
    display: none !important;
  }

  .col-lg {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-lg-auto {
    width: auto;
    max-width: none;
    flex: 0 0 auto;
  }

  .col-lg-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .col-lg-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .col-lg-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }

  .col-lg-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .col-lg-5 {
    max-width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .col-lg-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .col-lg-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .col-lg-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .col-lg-9 {
    max-width: 75%;

    flex: 0 0 75%;
  }

  .col-lg-10 {
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
  }

  .col-lg-11 {
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
  }

  .col-lg-12 {
    max-width: 100%;

    flex: 0 0 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }

  .d-xl-none {
    display: none !important;
  }

  .col-xl {
    max-width: 100%;

    flex-basis: 0;
    flex-grow: 1;
  }

  .col-xl-auto {
    width: auto;
    max-width: none;

    flex: 0 0 auto;
  }

  .col-xl-1 {
    max-width: 8.33333%;

    flex: 0 0 8.33333%;
  }

  .col-xl-2 {
    max-width: 16.66667%;

    flex: 0 0 16.66667%;
  }

  .col-xl-3 {
    max-width: 25%;

    flex: 0 0 25%;
  }

  .col-xl-4 {
    max-width: 33.33333%;

    flex: 0 0 33.33333%;
  }

  .col-xl-5 {
    max-width: 41.66667%;

    flex: 0 0 41.66667%;
  }

  .col-xl-6 {
    max-width: 50%;

    flex: 0 0 50%;
  }

  .col-xl-7 {
    max-width: 58.33333%;

    flex: 0 0 58.33333%;
  }

  .col-xl-8 {
    max-width: 66.66667%;

    flex: 0 0 66.66667%;
  }

  .col-xl-9 {
    max-width: 75%;

    flex: 0 0 75%;
  }

  .col-xl-10 {
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
  }

  .col-xl-11 {
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
  }

  .col-xl-12 {
    max-width: 100%;

    flex: 0 0 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-warning {
  color: #8cc63f !important;
}

.text-success {
  color: var(--primary);
  transition: color 0.15s ease-in-out;
}

.text-success:hover {
  color: #8cc63f;
  transition: color 0.15s ease-in-out;
}

.text-white {
  color: #fff !important;
}

.text-red {
  color: #ec421f !important;
}

.text-purp {
  color: #4a257b !important;
}

.faded {
  opacity: 0.6;
}

.description {
  line-height: 10px !important;
}

.rotate {
  top: 50%;
  transform: rotate(90deg);
  position: fixed;
  left: 0;
}

.blockquote {
  border: 3px solid #000;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.mockup-code {
  position: relative;
  width: 300px;
  overflow: hidden;
  overflow-x: auto;
  min-width: 18rem;
  --tw-bg-opacity: 1;
  background-color: #1a1d23;
  padding: 1rem;
  color: hsl(var(--nc) / var(--tw-text-opacity));
  border-radius: var(--rounded-box, 1rem);
}

/* Footer  */
.footer {
  background: #000;
}
.footer .icon {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.footer .icon:hover {
  color: var(--primary);
}
.copyright {
  font-size: 12px;
  line-height: 1;
  opacity: 0.5;
}
